# fly.toml app configuration file generated for nexus-digital on 2026-02-23T23:40:22+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nexus-digital'
primary_region = 'fra'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  AWS_BUCKET = 'nexus.wirdrei.digital'
  AWS_REGION = 'auto'
  AWS_S3_HOST = 't3.storage.dev'
  NORTHFLANK_PROJECT_ID = 'magus'
  PHX_HOST = 'cms.wirdrei.digital'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpus = 2
  cpu_kind = 'shared'
  memory_mb = 1024
